@import '../assets/breakpoints';
@import '../assets/colours';

.aboutPage {
    display: flex;
    max-width: 1200px;
    p {
        color: $dblue;
        font-family: 'Open Sans', sans-serif;
    }
    h2 {
        margin-bottom: 20px;
    }
    .skills {
        width: 50%;
        margin-right: 30px;
        text-align: right;

        .skillsline {
            display: flex;
            justify-content: flex-end;
        }
    
    }
    .skillsbox {
        margin-bottom: 40px;
    }

    .about-me {
        width: 50%;
        margin-left: 30px;
    }
    @media (max-width: $phoneWidth) {
        flex-direction: column;
        align-items: center;
        max-width: 100%;

        .skills {
            width: 90%;
            margin-right: 0;
        }

        .skillsbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            margin-bottom: 20px;
        }

        .about-item {
            margin: 0 5px;
        }

        .about-me {
            width: 90%;
            margin: 0;
        }

    }
}





