@import 'assets/colours';

.social {
    border-radius: 50%;
    border: 2px solid $grey;
    margin: 10px 0;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    height: 35px;
    width: 35px;
    &:hover {
        border: 2px solid $lblue;
        cursor: pointer;
        background: $lblue;
    }   
    &.github {
        background-image: url(../../assets/images/socials/github-grey.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../../assets/images/socials/github-white.png)
        }
    }
    &.twitter {
        background-image: url(../../assets/images/socials/twitter-grey.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        margin-left: 20px;
        &:hover {
            background-image: url(../../assets/images/socials/twitter-white.png)
        }
    }
    &.linkedin {
        background-image: url(../../assets/images/socials/linkedin-grey.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        margin-left: 20px;
        &:hover {
            background-image: url(../../assets/images/socials/linkedin-white.png)
        }
    }
    &.weblink {
        background-image: url(../../assets/images/socials/web-grey.png);
        background-size: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        margin-left: 10px;
        &:hover {
            background-image: url(../../assets/images/socials/web-white.png)
        }
    }
}