@import 'assets/breakpoints';
@import 'assets/colours';

.modal {
    z-index: 100;
    position: fixed;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 70%;
    background: $offwhite;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
  
  @media (max-width: $phoneWidth) {
    flex-direction: column;
    width: 90%;
    height: 94%;
    top: 3%;
    left: 5%;
  }

}

.modal-img-container {
    width: 50%;

    @media (max-width: $phoneWidth) {
      width: 100%;
    }
}

.modal-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal-text {
    width: 50%;
    padding: 20px;
    border-left: $lblue 4px solid;
    position: relative;

    @media (max-width: $phoneWidth) {
      width: calc(100% - 10px);
      padding: 5px;
      border-top: $lblue 4px solid;
      border-left: 0px;
      overflow: scroll;
    }

    .modalTop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .modalExplainer{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: $lblue;
    }

    .modalTitle{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: $dblue;
        font-size: 24px;
    }

    .modalInfo {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: $dblue;

    }

    .link-icons {
      display: flex;
      justify-content: flex-start;
    }
    
    @media screen and (max-width: 1450px) {
        .modal-img-container {
            width: 50%;
        }
        .modal-text {
            width: 50%;
        }
    }
}
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
  
  .exitCross {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lblue;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid $lblue;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 50;

    &:hover {
      background: $lblue;
      color: $offwhite;
    }
  }