@import '../../assets/breakpoints';
@import '../../assets/colours';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    a {
        color: $grey;
        margin: 0 20px;
        font-size: 14px;

        @media (max-width: $phoneWidth) {
            margin: 0 12px;
            font-size: 12px;
        }

        @media (max-width: $iphonefiveWidth) {
            margin: 0 8px;
        }

        &:hover {
            color: $dblue;
        }
        &.active {
            color: $lblue;
        }
    }

}