@import 'assets/breakpoints';
@import 'assets/colours';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Open+Sans&amp;display=swap');

body {
    margin: 0;
    padding: 0;
   background: $offwhite;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    color: $dblue;

    a {
        color: $lblue;
        text-decoration: none;
    }
}

h1 {
    font-size: 24px;
    font-weight: 700;

    @media (max-width: $phoneWidth) {
        font-size: 18px;
    }
}

h2 {
    font-size: 18px;
    font-weight: 500;
    @media (max-width: $phoneWidth) {
        font-size: 16px;
    }
    &.intro-text {
        @media (max-height: 641px) {
            display: none;
        }
    }
}

.intro-text {
    text-align: center;
}

.lblue {
    color: $lblue;
}

.App {
    @media (max-width: $tabletWidth) {
        width: 100%;
    }
}